@model PeopleAnalysis.ApplicationAPI.UserDetailInformationViewModel

<h2 class="p-2 mt-2">Аналитика</h2>
<hr />

@if (Model.IsPrivate || (Model.Photos?.Count ?? 0) < 2)
{
    <h3 class="p-2">Профиль пользователя в статусе private или недостаточно данных. Невозможно провести аналитику</h3>
}
else if (Model.AnalitycsViewModel.Status == StatusEnum.InProgress.Raw())
{
    <a asp-action="Index" asp-controller="Request" class="h3 p-2">В процессе</a>
}
else if (Model.AnalitycsViewModel.Status == StatusEnum.Complete.Raw())
{
    <div class="p-0">
        <p class="h4">Время обработки: @Model.AnalitycsViewModel.Time@*ToString("h'h 'm'm 's's'")*@</p>
        <div class="d-flex flex-wrap">
            <div class="card w-50">
                <canvas id="bar"></canvas>
            </div>
            <div class="card w-50">
                <canvas id="pie"></canvas>
            </div>
        </div>
    </div>
}
else if (!Model.AnalitycsViewModel.IsResult || Model.AnalitycsViewModel.Status.In(new[] { StatusEnum.Closed.Raw(), StatusEnum.Fail.Raw() }))
{
    <form method="post" asp-action="StartAnalys" asp-controller="Analitic">
        @Html.Hidden("id", Model.Id)
        @Html.Hidden("social", Model.Social)
        @Html.Hidden("userName", Model.FullName)
        <input value="Запустить аналитику" class="btn btn-primary w-100" type="submit" />
    </form>
}