<div class="m-5">
    <div class="container">
        <h1>About</h1>
        <hr>
        <p>We have set up our studio so we can be personally involved with every single project and get to be choosy about what work we take on — client or self-initiated.</p>
        <hr>
        <p>Phone: 89008008080</p>
    </div>
</div>